*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    text-align: center;
}

#main-header{
    display: flex;
    flex-direction: row;
    height: 65px;
    background-color: #1b9a5c;
    justify-content: space-between;
    align-items: center;
    padding: 1.32rem 1rem 1.32rem 4rem;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .4);
}

#main-header h1{
    font-family: roboto;
    font-size: 2rem;
    letter-spacing: 1.5px;
    color: #fff;
}

#main-header a{
    font-size: 18px;
}


.nav-bar{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}


.nav-bar li a{
    font-family: roboto;
    font-weight: bolder;
    color: #fff;
    font-size: larger;
}

.nav-bar li a:hover{
  background-color: #61b58c;
}

.page{
  text-decoration: underline  rgb(255, 255, 255);
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}



.navbar-links{
    display:flex;
    align-items: center;
}


.toggle-button{
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}


.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

.title{
  margin: 4rem 1rem 2rem 1rem;
  font-family: roboto;
  font-size: 35px;
}

.sub-title{
  font-family: nunito;
  margin-bottom: 2rem;
}

section {
    width: 800px;
    margin: auto;
  }
  
  .frame {
    position:relative;
    width: 800px;
    height: 400px;
    margin: 1rem 0;
    text-align: center;
    
    border: none;
  }

  .frame img{
    border-radius: 20px;
  }
  
  .slide {
    width: 800px;
    height: 675px;
    display:block;
    margin-bottom: 2rem;
  }
  
  .controls{
    display: flex;
    

  }
  
  .controls a{
    
    border-radius: 70px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    cursor: pointer;
    
  }

  .next-btn{
    font-size: 85px;
    padding: 1.3rem 1.5rem 1.2rem 2.8rem;
    position: relative;
    bottom: 144px;
    left: 580px;
    
  }

  .back-btn{
    font-size: 67px;
    padding: 1rem 2.5rem .6rem 1.8rem;
    position: relative;
    bottom: 144px;
    right: 70px;
    
  }

  .controls a:hover,
  .controls a:focus{
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}


  figcaption{
    text-align: center;
    font-size: 20px;
    font-family: nunito;
    font-weight: bold;
  }
  
  
  .hide {
    display: none;
  }
  
  
  .current {
    transition: opacity .5s ease-out;
  }
  
  
  .spacer {
    padding: 2rem;
  }

  .image-fade{
    animation: imgfade 0.5s ease-in-out;

  }

  @keyframes imgfade{
    0% {
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
  }

  .foot{
    margin-top: 14rem;
    margin-bottom: 0;
    background-color: #1b9a5c;
    
  }
